Dear QRIScloud user,
 
In the past few months, you have made use of Nectar compute resources in
QRIScloud.

As a user of QRIScloud, we request that you register for a QRIScloud
account using the "Account" link on https://www.qriscloud.org.au.

By registering your details with QRIScloud, you will be able to take advantage
of other QRIScloud compute, data storage and training service, subscribe
to our QRIS Alerts mailing list, and access our online knowledgebase.  In
addition, the contact information that you provide will allow us to provide
better support service to you.

If you require any assistance, we are more than happy to help.  We can be
contacted either by phoning 07 3346 4202 or by emailing:

  support@qriscloud.org.au

 
Kind regards,
The QRIScloud Support Team
