{% extends "qcif.tmpl" %}
{% block content %}
This is a gentle reminder to "spring clean" your NeCTAR tenants and instances.

Things that we recommend that you attend to include:

  - extending or closing down any NeCTAR tenants that are past their
    respective project end dates,
  - terminating NeCTAR instances and deleting NeCTAR storage (Objects,
    Volumes, Images) that are no longer required,
  - reviewing the membership of your NeCTAR tenants,
  - applying OS patches to all of your NeCTAR instances,
  - performing NeCTAR instance OS upgrades as required,
  - checking your backup procedures, and
  - checking that your NeCTAR tenant and instance access control is sound.

The following link will take you to document that goes into a lot more detail:

  - https://support.qriscloud.org.au/hc/en-us/articles/217271446

Please email <support@qriscloud.org.au> if you have any questions.

{% endblock %}
