{% extends "qcif.tmpl" %}
{% block content %}
This is a gentle reminder to "spring clean" your NeCTAR tenants and instances.

Things you should attend to include:

  - extending or closing your NeCTAR tenants that are past their project
    end date,
  - terminating or deleting any NeCTAR resources that you are not
    actively using,
  - reviewing the membership of your tenants,
  - applying system patches to all instances,
  - performing instance OS upgrades as required,
  - checking your backup procedures, and
  - checking instance access control and safety.

We have prepared a longer document that explains in more detail what you
need to do.

Please email <support@qriscloud.org.au> if you have any questions.

{% endblock %}
