{% extends "qcif.tmpl" %}
{% block content %}

Update on Nextcloud service disruptions: Fix implemented
--------------------------------------------------------

As many users will be aware, there have recently been performance
issues affecting users of QRIScloud's data storage services, and
in particular, the Nextcloud service.

I am happy to announce that we have been able to identify the
root cause of these problems, and have resolved the immediate issue.

You should find that service performance has now returned to normal.

QCIF wishes to apologise for the inconvenience that this has caused
our users.  We are committed to delivering enhanced data storage
services for our members, with capabilities and features
specifically adapted to the needs of researchers.

Coming out of this experience, QCIF has identified several
improvements we can make to further support the workflows of
high-end users. Over the next three weeks QCIF will be implementing
these changes, and will do all it can to minimise the impact to
Nextcloud users during these upgrades.

Best regards

Phil


Dr Phil Gurney
CEO, QCIF

{% endblock %}
