{% extends "qcif.tmpl" %}
{% block content %}
We have encountered an issue with one of the QRIScloud compute nodes that has
caused it to be taken out of service.  Unfortunately, we are unable to move
instances that were running on the node.  As a result, the affected instances
will be offline until further notice.  We will rectify the problem as soon
as possible.

{%- include "extra-details.tmpl" %}

This affects the following instances in your NeCTAR tenant:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}

We apologise for any inconvenience.  We will let you know as soon as the
compute node is operational again.

Please email <support@qriscloud.org.au> if you have any questions.

{% endblock %}
