{% extends "qcif.tmpl" %}
{% block content %}
--------------------

Service has now been restored for all instances on compute nodes CN39 and CN43 affected
by the outage on March 17th / 18th.  Instances on CN43 were restarted on Friday evening,
and CN39 instances were restarted on Monday morning.

If you experience any further problems with the restarted instances, please contact
QRIScloud support.  Once again, we apologise for any inconvenience caused by the prolonged
outage.

---------------------------

This concerns the following NeCTAR Tenant and Instances:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}
{% endblock %}
