{% extends "qcif.tmpl" %}
{% block content %}
--------------------

ADVICE OF EXTENDED OUTAGE FOR SOME QRISCOMPUTE TENANTS
  -- Rolling outages on March 17th & 18th --
 
Further to QCIF's previous advice regarding brief rolling outages to
QRIScompute VM instances over the period 17/18 March.
 
QCIF has experienced an underlying software issue affecting one of 23
compute nodes which is preventing a small number of instances from being
returned to service. Unfortunately we have to advise that instances
for which you are Tenant Manager are impacted by this issue.
 
QCIF is investigating options to restore services as quickly as possible
and aims to have firm advice regarding service restoration by noon
Monday 21 March.
 
QCIF apologises for the extended outage which is the result of unforeseen
circumstances. We will continue to keep you appraised of developments.
Please be assured that all data associated with your instances is safe
and unaffected by this outage.
 
If you require any further information about the impact of these outages,
please contact QRIScloud support.

---------------------------

This concerns the following NeCTAR Tenant and Instances:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}
{% endblock %}
