{% extends "qcif.tmpl" %}
{% block content %}
The hardware problems with compute nodes CN44, CN46 and CN52 remain unresolved, and we
are unable to provide an estimate for when the hardware will be repaired.  All data
associated with the existing instances remains safe, but the data on the instances' root
and ephemeral file systems will be inaccessible until the hardware can be repaired.  

Given that we cannot provide an estimate for the hardware repair, we suggest that you
consider relaunching your affected instances on other QRIScloud compute nodes.

  - You could relaunch an instance from a recent instance snapshot; see
    https://support.nectar.org.au/solution/articles/6000055376-launching-virtual-machines
  
  - Alternatively you could rebuild an instance starting from a fresh base image.
  
  - Data on the instance that is not included in your snapshots could be restored
    from your backups, if they are available.
    
  - Once your instance has been launched, you will be able to restore access to data
    held on Volume Storage, Object Storage or an NFS-mounted RDSI collection.

Please contact QRIScloud support if you need:
   - advice on whether you will be able to relaunch,
   - advice on how to relaunch,
   - a temporary NeCTAR quota increase to facilitate the relaunch, or
   - any other information.

--------------------

This concerns the following NeCTAR Tenant and instances:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}
{% endblock %}
