{% extends "qcif.tmpl" %}
{% block content %}
--------------------

Late yesterday afternoon, the vendor repaired the remaining QRIScloud compute
nodes affected by the faulty chassis problems and we return them to service. 

All instances on compute nodes CN45 & CN46 that we shutdown on March 17 / 18th
have now been restarted.  Other instances on these nodes that you shut down
prior to the outage may now be restarted via the NeCTAR Dashboard.

Please check that your instances are now working normally, and let us know if
there are any problems via an email to <support@qriscloud.org.au>.

---------------------------

This concerns the following NeCTAR Tenant and Instances:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}
{% endblock %}
