{% extends "qcif.tmpl" %}
{% block content %}
The QRIScloud compute node on which your instance was running encountered
a problem that required all instance running on it to be migrated to another
compute node.  Your instance has been rebooted as part of the migration, but
other details (such as the instance IP address) should not have changed.

{%- include "extra-details.tmpl" %}

This concerns the following instances in your NeCTAR Tenant:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}

We apologise for any inconvenience.  

Please email <support@qriscloud.org.au> if experience any problems with
your instance.

{% endblock %}
