{% extends "qcif.tmpl" %}
{% block content %}
ADVICE OF EXTENDED OUTAGE FOR SOME QRISCOMPUTE TENANTS
   - Rolling outages on March 17th & 18th -
 
Further to QCIF's previous advice regarding brief rolling outages to
QRIScompute VM instances over the period 17/18 March.
 
QCIF has experienced hardware chassis mounting issues in three out of 23
compute nodes which is preventing a small number of instances from being
returned into service. Unfortunately we have to advice that instances for
which you are Tenant Manager or Member are impacted by this issue.
 
This hardware was installed by certified Vendors and the current problem is
possibly the result of manufacturing defects. This matter has been escalated
for urgent manufacturer advice. In the meantime, QCIF is investigating options
to restore services as quickly as possible and aims to have firm advice
regarding service restoration by noon Monday 21 March.

QCIF apologises for the extended outage which is the result of unforeseen
circumstances. We will continue to keep you appraised of developments. Please
be assured that all data associated with your instances is safe and unaffected
by this outage.
 
If you require any further information about the impact of these outages,
please contact QRIScloud support.

--------------------

This concerns the following NeCTAR Tenant and instances:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}
{% endblock %}
