Dear {{ name }},

{% block content %}
{% endblock %}

Regards,

The QRIScloud Support Team

--
This email has been sent to you as a user of QRIScloud facilities, using the
email address associated with the resource you are using.  These emails are
essential communications which we endeavour to keep to a minimum.  If you
receive multiple copies of this email, it may be due to the fact that you
are associated with multiple NeCTAR projects or multiple RDSI collections.

This email may have been CC'd to <support@qriscloud.org.au> to generate
an individualized support ticket.  Please use the ticket for communication;
e.g. reply to the email sent by the ticketting system.



