{% extends "qcif.tmpl" %}
{% block content %}
The previously announced QRIScloud compute node outage on CN09 scheduled
for 11am on Tuesday 4th October has had to be postponed due to unforseen
circumstances.

https://support.qriscloud.org.au/hc/en-us/articles/214611583

We apologise for any inconvenience.  

Please email <support@qriscloud.org.au> if experience any problems with
your instance.

{% endblock %}
