{% extends "qcif.tmpl" %}
{% block content %}

This concerns the following instances in your NeCTAR Tenant:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:
{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}

On the morning of Tuesday December 5th, there will be an emergency
outage for all instances on QRIScloud compute node CN37.  This outage is
needed to allow the vendor to replace faulty hardware.  For more details
please view the following page.

https://support.qriscloud.org.au/hc/en-us/articles/115005646326

We apologise for the inconvenience.

Please email <support@qriscloud.org.au> if you experience any problems with
your instance following the outage.

{% endblock %}
