{% extends "qcif.tmpl" %}

{% block content %}

This concerns the following instances in your NeCTAR tenant:

  Tenant name: {{ db['tenants'][group['id']].name }}
  Tenant ID:   {{ group['id'] }}

Instances:

{% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.name }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}

On March 10th and 11th, QRIScloud operations will be adding Solid State Drives
(SSDs) to the compute hardware that runs your QRIScloud NeCTAR instances
listed above.  This is part of an upgrade program is aimed at increasing
the number of NeCTAR instances that that QRIScloud can support, as
described here:

  - https://qriscloud.zendesk.com/hc/en-us/articles/207777306

Our original plan was to use OpenStack's "live migration" feature to move
instances between compute nodes as they upgraded.  This approach has proven
to be problematic, and we are now planning to shut down (i.e. power off)
instances to allow the hardware upgrades.

This revised plan will result in rolling outages of roughly 30 minutes for
instances as compute nodes are upgraded.  We cannot give an exact schedule
for when each instance will be shut down, but the procedure will be as follows:

  1.  All instances in "RUNNING" state on the compute node will be shut down.
  2.  The compute node will be taken out of service, the SSD will be installed
      and tested, and the compute node will be restored.
  3.  The instances that were shut down in step 1. will be rebooted.

While we do not anticipate that this procedure will cause any damage to
your instances, this is always a possibility.  We therefore advise the
following:

  1.  Inform any users of your instances that there will be an outage
      or outages some time on Marth 10th and 11th.
  2.  Ensure that you have a current backup any important data on your
      instances' disks.
  3.  If your instances need to be shutdown or restarted in a particular
      way, please take care of this yourself.  We will not restart any
      instances that were not RUNNING when we shut down a compute node.
      Thus, if you shut down instances yourself, you can control when and
      how they are restarted.
  4.  If a 30 minute instance outage is going to be problematic for you,
      you could migrate your affected instances to a different availability
      zone.  If you plan to do this, please do it well in advance of the
      scheduled outage period.
      
If you have questions about this outage that are not address by this email,
please email <support@qriscloud.org.au>.

{% endblock %}
