{% block content %}
Tenant:
    Project name:   {{ db['tenants'][group['id']].name }}
    Project ID:     {{ group['id'] }}
    Managers: {% for user in db['tenants'][group['id']]['managers'] %}
                   {{ db['recipient_users'][user].email }}{% endfor %}
    Members:  {% for user in db['tenants'][group['id']]['members'] %}
                   {{ db['recipient_users'][user].email }} {% endfor %}
Instances: {% for instance in group['instances'] %}
    Instance name: {{ instance.name }}
    Instance ID:   {{ instance.id }}
    IP address:    {{ instance.accessIPv4 }}
    Compute node:  {{ instance.to_dict()['OS-EXT-SRV-ATTR:host'] }}
{% endfor %}
{% endblock %}
